{% extends "base.html" %}

{% block title %}
	<meta name="title" content="Archives | {{ SITENAME }}">
	<link rel="canonical" href="{{ SITEURL }}/archives">
	<title> Archives | {{ SITENAME }}</title>
{% endblock %}


{% block content %}

    <div class="row">
		
		<div class="col-lg-8">
		
			<h1>Archives for {{ SITENAME }}</h1>

			<dl>
			{% for article in dates %}
				<dt>{{ article.locale_date }}</dt>
				<dd><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></dd>
			{% endfor %}
			</dl>
		
		</div>
	
		
		 {% include 'article_right_sidebar.html' %}
    </div>
      
{% endblock %}

