{% extends "base.html"%}
{% block title %} Home | {{ SITENAME }}{% endblock %}
{% block content %}
    <div class="row">
	
	
		
		
		<div class="col-md-8">
		{% for article in articles_page.object_list %}
	
			<div class="panel panel-primary">
			<div class="panel-heading"> <i class="fa fa-tag"></i> <strong>Tags:</strong>{% for tag in article.tags %}<a class="whitelink" href="{{ SITEURL }}/{{ tag.url }}">{{tag}}</a> {% endfor %}
			<span class="pull-right"> <i class="fa fa-folder"></i> <strong>Category:</strong> <a class="whitelink" href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a></span></div>
			<div class="panel-body">
			<h2><a href="{{ SITEURL}}/{{article.url}}">{{ article.title }}</a></h2>
			<p>{{article.summary}}...<a href="{{ SITEURL }}/{{article.url}}"> Read More</a><p>
			</div>
			<div class="panel-footer"> <i class="fa fa-user"></i> by {{ article.author }} <span class="pull-right"> <i class="fa fa-calendar"></i> {{ article.locale_date }}</span> </div>
			</div>
		{% endfor %}
		
		{% include 'pagination.html' %}
		</div>
		
	
		
		
		<!-- Social -->
		<div class="col-md-1">
		
		</div>
		
        <div class="col-md-3">
          <div class="well">
			 <h3> <span class="glyphicon glyphicon-info-sign"> </span>  About Me</h3>
			 
				<img src="https://dl.dropboxusercontent.com/u/73165478/Joe_Jean_ID.jpg" alt="Joe Jean Picture" class="img-circle img-responsive">

				<p> My name is Joe Jean. I'm a sophomore studying Computer Science at New York University Abu Dhabi <a href="http://nyuad.nyu.edu" target="_blank">(NYUAD)</a>. 
				I'm a passionate of computers. This site contains useful tips, tricks, and tutorials on programming in particular and technology in general.
                <a href="{{ SITEURL }}/pages/about-me">Learn more about me</a> </p>
                
			
			<hr class="btn-custom">
			
            <h3> <span class="glyphicon glyphicon-envelope"> </span> Get In Touch</h3>
				<ul class="list-unstyled">
                    <li> <i class="fa fa-facebook-square"></i> <a href="https://www.facebook.com/joe.jean3">Facebook</a></li>
                    <li> <i class="fa fa-linkedin-square"></i> <a href="http://ae.linkedin.com/in/joejean/">LinkedIn</a></li>
					<li> <i class="fa fa-google-plus"></i> <a href="http://google.com/+JoeJean">Google+</a></li>
					<li> <i class="fa fa-github"></i> <a href="https://github.com/joejean">GitHub</a></li>
                    <li> <i class="fa fa-envelope"></i> <a href="mailto:joe@joejean.info">Email</a></li>
                </ul>
            
            <hr class="btn-custom">
         
            <h3><i class="fa fa-archive"></i>  Archives</h3>
              <div class="row">
                <div class="col-md-6">
                  <ul class="list-unstyled">
                    <li><a href="{{ SITEURL }}/archives.html/">2013</a></li>
                    
                  </ul>
                </div>
                <div class="col-md-6">
                  <ul class="list-unstyled">
                    <li><a href="#alien-abductions"></a></li>
                    
                  </ul>
                </div>
              </div>
			  
			
          
          </div><!-- /well -->
        </div>
    </div>
      
    <hr class="btn-custom">
{% endblock %}