<div class="well">
			 <h3> <span class="glyphicon glyphicon-info-sign"> </span>  About Me</h3>

			 	{% include 'sidebar-bio.html' %}

			<hr class="btn-custom">

            <h3> <span class="glyphicon glyphicon-envelope"> </span> Get In Touch</h3>
				<ul class="list-unstyled">
                    <li> <i class="fa fa-facebook-square"></i> <a href="https://www.facebook.com/joe.jean3">Facebook</a></li>
                    <li> <i class="fa fa-linkedin-square"></i> <a href="http://ae.linkedin.com/in/joejean/">LinkedIn</a></li>
					<li> <i class="fa fa-google-plus"></i> <a href="http://google.com/+JoeJean">Google+</a></li>
					<li> <i class="fa fa-github"></i> <a href="https://github.com/joejean">GitHub</a></li>
                    <li> <i class="fa fa-envelope"></i> <a href="mailto:joeclef@hotmail.com">Email</a></li>
                </ul>

            <!-- <hr class="btn-custom"> -->


</div><!-- /well -->
