{% if DEFAULT_PAGINATION %}
<ul class="pager">
    {% if articles_page.has_previous() %}
         <li class="previous"><a href="{{ SITEURL }}/{{ articles_previous_page.url }}">&larr; Newer</a></li>
    {% endif %}
    <span class="label label-primary">Page {{ articles_page.number }} / {{ articles_paginator.num_pages }}</span>
    {% if articles_page.has_next() %}
       <li class="next"> <a href="{{ SITEURL }}/{{ articles_next_page.url }}">Older &rarr;</a></li>
    {% endif %}
</ul>
{% endif %}
