{% extends "base.html" %}

{% block title %}
	<meta name="title" content="Tags | {{ SITENAME }}">
	<link rel="canonical" href="{{ SITEURL }}/tags">
	<title> Tags | {{ SITENAME }}</title>
{% endblock %}

{% block content %}

    <div class="row">
	
	
	
		
		<div class="col-lg-8">
		
			<h1>Tags for {{ SITENAME }}</h1>
                <ul>
				{%- for tag, articles in tags|sort %}
					<li><a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a> ({{ articles|count }})</li>
				{% endfor %}
				
				</ul>
		
		</div>
	
		
		
		<!-- Social -->
		<div class="col-lg-1">
		
		</div>
		
        <div class="col-lg-3">
          <div class="well">
			 <h3> <span class="glyphicon glyphicon-info-sign"> </span>  About Me</h3>
				<img src="https://dl.dropboxusercontent.com/u/73165478/Joe_Jean_ID.jpg" alt="Joe Jean Picture" class="img-circle img-responsive">

				<p> My name is Joe Jean. I'm a Computer Science student at New York University Abu Dhabi <a href="http://nyuad.nyu.edu" target="_blank">(NYUAD)</a>. 
				I love everything tech related. This space will contain interesting information about IT and life.
                <a href="#fried-foods">Learn more about me</a> </p>
                
			
			<hr class="btn-custom">
			
            <h3> <span class="glyphicon glyphicon-envelope"> </span> Get In Touch</h3>
				<ul class="list-unstyled">
                    <li> <i class="fa fa-facebook-square"></i> <a href="#dinosaurs">Facebook</a></li>
                    <li> <i class="fa fa-linkedin-square"></i> <a href="#spaceships">LinkedIn</a></li>
					<li> <i class="fa fa-google-plus"></i> <a href="#fried-foods">Google+</a></li>
					<li> <i class="fa fa-github"></i> <a href="#fried-foods">GitHub</a></li>
                    <li> <i class="fa fa-envelope"></i> <a href="#fried-foods">Email</a></li>
                </ul>
            
            <hr class="btn-custom">
         
             <h3><i class="fa fa-archive"></i>  Archives</h3>
              <div class="row">
                <div class="col-lg-6">
                  <ul class="list-unstyled">
                    <li><a href="{{ SITEURL }}/archives.html/">2013</a></li>
                    
                  </ul>
                </div>
                <div class="col-lg-6">
                  <ul class="list-unstyled">
                    <li><a href="#alien-abductions"></a></li>
                    
                  </ul>
                </div>
              </div>
			  
			
          
          </div><!-- /well -->
        </div>
    </div>
      
    <hr class="btn-custom">


    


{% endblock %}
